.idioma-nav{
	background:#EEEEEE;
	font-family:'Raleway';
	padding-top:1%;
	font-size:1em;
	color:#909090;
	a{
		text-decoration:none;
		color:#909090;
	}
	i{
		font-family:'Raleway';
	}
}
header{
	background:white;
	padding:3% 0;
	i{
		font-size:3em;
		float: left;
	}
}